/* Main #223462 */
/* Secondary #0dfb84  */
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #c5cfd7;
  font-family: "Montserrat", sans-serif;
}

/* CSS till navigations menyn  */

.meny-container {
  display: flex;
  height: 65px;
  border-bottom: 2px solid #223462;
  justify-content: space-around;
}

.meny {
  display: flex;
  align-items: center;
  padding: 20px 80px;
  font-size: 1.4rem;
}
nav a:hover {
  transition: 0.4s;
  background-color: #c5cfd7;
  color: #223462;
}
nav {
  background-color: #223462;
  color: #c5cfd7;
}
nav a {
  text-decoration: none;
  color: #c5cfd7;
}

.logo {
  font-size: 2rem;
}

/* CSS till nyheter och information på startsidan  */

.info-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 100vw;
  min-height: 70vh;
  justify-content: space-evenly;
  align-items: center;
}
.info-boxes {
  display: flex;
  align-items: center;
  max-width: 600px;
  min-height: 180px;
  background-color: #223462;
  color: #c5cfd7;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.title {
  text-align: center;
  margin: 40px 0;
  font-size: 40px;
}

.info-bild {
  width: 40%;
  margin-right: 10px;
  float: left;
  border-radius: 10px 0 0 10px;
}

h2 {
  margin-bottom: 20px;
  font-size: 1.2rem;
}

/* CSS till fliken Kontakt  */

.contact-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  color: #c5cfd7;
}
.contact {
  width: 400px;
  height: 400px;
  background-color: #223462;
  padding: 20px;
  margin: 10px;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.contact-img {
  height: 250px;
  max-width: 250px;
  object-fit: cover;
  border-radius: 10px;
}

.contact h2 {
  font-size: 1.4rem;
  margin: 10px 0;
}
.contact p {
  margin: 15px 0;
}

/* CSS till fliken Ridskola  */

.ridskola-hast {
  width: 400px;
  height: 400px;
  background-color: #223462;
  color: #c5cfd7;
  padding: 20px;
  margin: 10px;
  text-align: center;
  border-radius: 10px;
}
.ridskola-img {
  height: 250px;
  max-width: 250px;
  object-fit: cover;
  border-radius: 10px;
}

.ridskola > p {
  text-align: center;
  font-size: 1.4rem;
  margin-bottom: 25px;
}
.ridskola h2 {
  margin-top: 15px;
}
.hast-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* CSS till drop down (accordion) menyn under fliken ridskola  */

.accordion {
  width: 1200px;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.item {
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.1);
  padding: 24px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 24px;
  row-gap: 32px;
  align-items: center;
  justify-items: center;
}
.acc-icon {
  width: 36px;
  height: 36px;
  fill: #343a40;
  margin: 0 40px;
}
.acc-text {
  font-weight: 700;
  font-size: 36px;
  color: #343a40;
}

.hidden-box {
  grid-column: 2;
  display: none;
}

.open {
  border-top: 4px solid #223462;
}

.open .hidden-box {
  display: block;
}
.open .acc-icon,
.open .acc-text {
  fill: #223462;
  color: #223462;
}

.personal p {
  text-align: left;
}
.personal {
  height: auto;
}

.acc-p {
  text-align: center;
  font-size: 1.4rem;
  margin-bottom: 25px;
}

/* Media query för mindra skärmar  */

@media only screen and (max-width: 1200px) {
  a {
    display: flex;
  }
  .meny {
    display: flex;
    padding: 20px 10px;
    font-size: 1rem;
    font-weight: 700;
  }
  .info-container {
    flex-flow: column nowrap;
  }
  .title {
    font-size: 25px;
    margin: 20px 0;
  }
  .info-bild {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 10px 10px 0 0;
  }
  .info-boxes {
    display: block;
  }
  .contact-img {
    height: 250px;
    max-width: 250px;
    object-fit: cover;
  }
  .contact:first-child {
    margin-top: 0;
  }
  .accordion {
    width: 700px;
  }
  .acc-icon {
    width: 28px;
    height: 28px;
    margin: 0;
  }
  .acc-text {
    font-weight: 600;
    font-size: 28px;
  }
}
